.custom-shape-divider-bottom-1736187245 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 10;
}

.custom-shape-divider-bottom-1736187245 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1736187245 .shape-fill {
  fill: #FFFFFF;
}